{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- CONTENIDO -->
<div class="card">
    <div class="card-header header-tematico">
        <div class="float-start">
            <h4 class="card-header-title">Documentacion</h4>    
        </div>
        <div class="float-end">
            <a href="{% url 'documentacion_create' %}" style="margin-top: 4px;" class="btn btn-success"><i class="bi bi-plus-square"></i> Nuevo</a>
        </div>
    </div>

    <div class="card-body">

        <!-- BUSQUEDA -->
        <div class="card">
            <div class="card-body">
                <form action="#" method="POST">
                    {% csrf_token %}
                    <input name="query" class="form-control" placeholder="Buscar" autofocus="autofocus">
                </form>
            </div>
        </div>

        <!-- TABLA -->
        <div class="table-responsive-md">
            <table class="table table-sm table-hover ">
                <thead>
                    <tr>
                        <th>Grupo</th>
                        <th>Descripcion Corta</th>
                        <th>Fecha Creacion</th>
                        <th>Creador</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in documentos %}
                    <tr>
                        <td>{{documento.grupo}}</td>
                        <td>{{documento.descripcion|truncatewords:8}}</td>
                        <td>{{documento.fecha}}</td>
                        <td>{{documento.usuario}}</td>
                        <td><a href="{% url 'documentacion_show' documento.id %}"><img src="static/assets/iconos/show.png" width="32" height="32"></a>
                            <a href="{% url 'documentacion_update' documento.id %}"><img src="static/assets/iconos/edit.png" width="32" height="32"></a>
                            <a href="{% url 'documentacion_delete' documento.id %}"><img src="static/assets/iconos/delete.png" width="32" height="32"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock content %}