{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- CONTENIDO -->
<div class="card">
    <div class="card-header header-tematico">
        <div class="float-start">
            <h4 class="card-header-title">Documentacion</h4>    
        </div>
        <div class="float-end">
            <a href="{% url 'documentacion_create' %}" style="margin-top: 4px;" class="btn btn-success"><i class="bi bi-plus-square"></i> Nuevo</a>
        </div>
    </div>

    <div class="card-body">

        <!-- BUSQUEDA -->
        <div class="card">
            <div class="card-body">
                <form action="#" method="POST">
                    {% csrf_token %}
                    <input name="query" class="form-control" placeholder="Buscar" autofocus="autofocus">
                </form>
            </div>
        </div>

        <!-- TABLA -->
        <div class="table-responsive-md">
            <table class="table table-sm table-hover ">
                <thead>
                    <tr>
                        <th>Grupo</th>
                        <th>Descripcion Corta</th>
                        <th>Codigo</th>
                        <th>Fecha Creacion</th>
                        <th>Creador</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in documentos %}
                    <tr>
                        <td>{{documento.grupo}}</td>
                        {% if documento.descripcion %}
                        <td>
                            <a style="width: 100%;" class="btn btn-primary btn-sm btn-descripcion" type="button" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="{{documento.descripcion}}">
                                {{documento.descripcion|lower|title|truncatewords:4}}
                            </a>
                        </td>
                        {% else %}
                        <td>Sin Descripcion</td>
                        {% endif %}
                        
                        <td>{{documento.codigo}}</td>
                        <td>{{documento.fecha}}</td>
                        <td>{{documento.usuario}}</td>
                        <td><a href="{% url 'documentacion_show' documento.id %}"><img src="static/assets/iconos/show.png" width="32" height="32"></a>
                            <a href="{% url 'documentacion_update' documento.id %}"><img src="static/assets/iconos/edit.png" width="32" height="32"></a>
                            <a href="{% url 'documentacion_delete' documento.id %}"><img src="static/assets/iconos/delete.png" width="32" height="32"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    });
</script>
{% endblock scripts %}