{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- CONTENIDO -->
<div class="card">
    <div class="card-header header-tematico">
        Perfil de Documento
        <a class="btn btn-sm btn-primary float-end" href="{% url 'documentacion_update' documento.id %}"><i class="bi bi-pencil"></i> Editar</a>
        {% comment %} <a class="btn btn-sm btn-warning float-end" style="margin-right: 15px;" href="#"><i class="bi bi-clock-history"></i> Historial</a> {% endcomment %}
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='user'></box-icon> Usuario</strong>
                <p class="text-muted">
                    {{documento.usuario|upper}}
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='layer'></box-icon> Estado</strong>
                <p class="text-muted">
                    {{documento.estado}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='calendar'></box-icon> Fecha</strong>
                <p class="text-muted">
                    {{documento.fecha}}
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='barcode' ></box-icon> Codigo</strong>
                <p class="text-muted">
                    {% if documento.codigo %}
                        {{documento.codigo}}
                    {% else %}
                        --Sin Codigo--
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='select-multiple' ></box-icon> Grupo</strong>
                <p class="text-muted">
                    {{documento.grupo|upper}}
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='file'></box-icon> Documento</strong>
                <p class="text-muted">
                    <a style="margin: 5px;" href="{{documento.documento.url}}" target="_blank" rel="noopener noreferrer"><img src="{% static 'assets/iconos/ver.png' %}" width="30" height="30" ></a> 
                    <a style="margin: 5px;" href="{{documento.documento.url}}" rel="noopener noreferrer" download><img src="{% static 'assets/iconos/download.png' %}" width="30" height="30" ></a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='location-plus'></box-icon> Iniciador</strong>
                <p class="text-muted">
                    {{documento.iniciador|upper}}
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='location-plus'></box-icon> Destino</strong>
                <p class="text-muted">
                    {{documento.destino|upper}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-show">
                <strong><box-icon name='text'></box-icon> Descripcion</strong>
                <p class="text-muted">
                    {% if documento.descripcion %}
                        {{documento.descripcion}}
                    {% else %}
                        --Sin Descripcion--
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-show">
                <strong><box-icon name='text'></box-icon> Observaciones</strong>
                <p class="text-muted">
                    {% if documentos.observaciones %}
                        {{documento.observaciones}}
                    {% else %}
                        --Sin Observaciones--    
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-show">
                <strong><box-icon name='search-alt-2'></box-icon> TAGS</strong>
                <p class="text-muted">
                    {% if documento.tags %}
                        {{documento.tags}}
                    {% else %}
                        -- Sin TAGS --
                    {% endif %}
                </p>
            </div>
        </div>

    </div>
</div>

<div class="card">
    <div class="card-header header-tematico">
        Documentos Relacionados
        <a class="btn btn-sm btn-success float-end" href="{% url 'documentacion_create_relacion' documento.id %}"><i class="bi bi-plus-square"></i> Nuevo</a>
        <a class="btn btn-sm btn-primary float-end" style="margin-right: 15px;" href="#"><i class="bi bi-clipboard-plus"></i> Asociar</a>
    </div>
    <div class="card-body">
        {% if relacionados %}

        <table class="table">
            <thead>
                <tr>
                    <th>Grupo</th>
                    <th>Descripcion</th>
                    <th>Codigo</th>
                    <th>Fecha Carga</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                {% for relacion in relacionados %}
                <tr>
                    <td>{{relacion.documento.grupo}}</td>
                    {% if relacion.documento.descripcion %}
                        <td>
                            <a style="width: 100%;" class="btn btn-primary btn-sm btn-descripcion" type="button" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="{{documento.descripcion}}">
                                {{relacion.documento.descripcion|lower|title|truncatewords:4}}
                            </a>
                        </td>
                    {% else %}
                        <td>Sin Descripcion</td>
                    {% endif %}
                    <td>{{relacion.documento.codigo}}</td>
                    <td>{{relacion.documento.fecha}}</td>
                    <td>
                        <a href="{{relacion.documento.documento.url}}" target="_blank"><img width="30" height="30" src="{% static 'assets/iconos/ver.png' %}" ></a>
                        <a href="{{relacion.documento.documento.url}}" download><img width="30" height="30" src="{% static 'assets/iconos/download.png' %}" ></a>
                        <a href="{% url 'documentacion_show' relacion.documento.id %}"><img src="{% static 'assets/iconos/show.png' %}" width="30" height="30"></a>
                        <a href="{% url 'relaciones_delete' relacion.id %}"><img width="30" height="30" src="{% static 'assets/iconos/desvincular.png' %}" ></a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>

        {% else %}

        <p>No existen documentos relacionados</p>

        {% endif %}
    </div>
</div>

{% if padres %}
<div class="card">
    <div class="card-header header-tematico">
        Documentos Relacionados (Padre)
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Grupo</th>
                        <th>Descripcion</th>
                        <th>Codigo</th>
                        <th>Fecha Carga</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for padre in padres %}
                    <tr>
                        <td>{{padre.padre.grupo}}</td>
                        {% if documento.descripcion %}
                        <td>
                            <a style="width: 100%;" class="btn btn-primary btn-sm btn-descripcion" type="button" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="{{documento.descripcion}}">
                                {{documento.descripcion|lower|title|truncatewords:4}}
                            </a>
                        </td>
                        {% else %}
                        <td>Sin Descripcion</td>
                        {% endif %}
                        <td>{{padre.padre.codigo}}</td>
                        <td>{{padre.padre.fecha}}</td>
                        <td>
                            <a href="{{padre.padre.documento.url}}" target="_blank"><img width="30" height="30" src="{% static 'assets/iconos/ver.png' %}" ></a>
                            <a href="{{padre.padre.documento.url}}" download><img width="30" height="30" src="{% static 'assets/iconos/download.png' %}" ></a>
                            <a href="{% url 'documentacion_show' padre.padre.id %}"><img src="{% static 'assets/iconos/show.png' %}" width="30" height="30"></a>
                            {% comment %} <a href="#"><img width="30" height="30" src="{% static 'assets/iconos/desvincular.png' %}" ></a> {% endcomment %}
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function() {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    });
</script>
{% endblock scripts %}