{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="#" method="post">
    {% csrf_token %}
    <!-- CONTENIDO -->
    <div class="card">
        <div class="card-body">
            {% comment %} <h5 class="card-title">Eliminar Dependencia</h5> {% endcomment %}

            <div class="row">
                <div class="col-2"></div>
                <div class="col-1">
                    <img src="{% static 'assets/iconos/danger.png' %}" width="60" height="60" >
                </div>
                <div class="col">
                    <div class="row">
                        <span>Esta a punto de eliminar ({{grupo}}), <strong>los registros eliminados no se podran recuperar.-</strong></span>
                    </div>
                    <div class="row">
                        <span style="color: #dc3545;">¿Desea continuar?</span>
                    </div>
                </div>
            </div>           

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger float-end"><i class="bi bi-plus-square"></i> Eliminar</button>
            <a href="{% url 'grupos_index' %}" class="btn btn-primary float-end" style="margin-right: 15px;"><i class="bi bi-x-square"></i> Cancelar</a>
        </div>
    </div>

</form>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}