{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- CONTENIDO -->
<div class="card">
    <div class="card-header header-tematico">
        Perfil de Requerimiento
        <a class="btn btn-sm btn-primary float-end" href="{% url 'dependencias_update' dependencia.id %}"><i class="bi bi-pencil"></i> Editar</a>
        {% comment %} <a class="btn btn-sm btn-warning float-end" style="margin-right: 15px;" href="#"><i class="bi bi-clock-history"></i> Historial</a> {% endcomment %}
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='map'></box-icon> Dependencia</strong>
                <p class="text-muted">
                    {{dependencia.nombre}}
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='select-multiple'></box-icon> Tipo de Dependencia</strong>
                <p class="text-muted">
                    {{dependencia.tipo}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='map-alt'></box-icon> Direccion</strong>
                <p class="text-muted">
                    {{dependencia.direccion}}
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='phone'></box-icon> Telefono</strong>
                <p class="text-muted">
                    {{dependencia.telefono}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='phone'></box-icon> interno</strong>
                <p class="text-muted">
                    {{dependencia.interno}}
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 col-show">
                <strong><box-icon name='envelope' ></box-icon> Email</strong>
                <p class="text-muted">
                    {{dependencia.email}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-show">
                <strong><box-icon name='user-circle'></box-icon> Encargado</strong>
                <p class="text-muted">
                    {{dependencia.encargado}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-show">
                <strong><box-icon name='text'></box-icon> Observaciones</strong>
                <p class="text-muted">
                    {% if dependencia.observaciones %}
                        {{dependencia.observaciones}}
                    {% else %}
                        <p class="text-muted">
                            --Sin Observaciones--
                        </p>
                    {% endif %}
                    
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}